.loader {
    color: var(--theme-color);
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;
    svg {
        height: 5rem !important;
        width: 5rem !important;
    }
  }